:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #202529;
  margin: 0;
  height: 100vh;
  scroll-behavior: smooth;
}
.container {
  width: 70%;
  margin: 0 auto;
}
h1,h2,p {
  margin: 0;
}

.title {
  color: #5C8374;
  font-size: 4rem;
  padding-top: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

#wave {
  position: fixed;
  z-index: -1;
  bottom: 0; /* Fija el SVG en la parte inferior de la ventana */
  left: 0;   /* Puedes ajustar la posición horizontal si es necesario */
  width: 100%; /* Asegura que el SVG ocupe el ancho completo de la ventana */
}